  <div id="content" class="floatwrap">
  <div id="contentArea" class="floatwrap">
    <%= render partial: 'layouts/side' %>
    <div id="main">
    <div class="main_header"></div>
      <p>
        <H2>Hour of Codeについて</H2>
        <div style="padding-left: 30px;">
          Hour of Codeはプログラミング初学者学習用のオンラインサービスです。<br/>
          作ったアプリはインターネットで公開することもできます。<br/>
        </div>
      </p>
      <p>
        <H2>Hour of Codeで作成した音楽再生アプリ</H2>
        <div style="padding-left: 30px;">
        （Androidでは再生できません）<br/>
        <center>
          <iframe width="352" height="620" style="border: 0px;" src="https://studio.code.org/projects/applab/wIHyrvrCNQYdfy-Ek_Psxg/embed"></iframe>
        </center>
        </div>
      </p>
    </div><!-- end of main_header -->
    </div><!-- end of main -->
  </div><!-- end of contentArea -->
  </div><!-- end of content -->
