  <div id="content" class="floatwrap">
  <div id="contentArea" class="floatwrap">
    <%= render partial: 'layouts/side' %>
    <div id="main">
    <div class="main_header"></div>
      <p>
        <H2>Scratchについて</H2>
        <div style="padding-left: 30px;">
          Scratchはプログラミング初学者学習がビジュアルにコーディングするサービスです。<br/>
          オンラインサービスだけでなく、ローカルで開発可能なアプリケーション開発環境もあります。<br/>
          作ったアプリはインターネットで公開することもできます。<br/>
        </div>
      </p>
      <p>
        <H2>Scratchで開発したゲームアプリ</H2>
        <div style="padding-left: 30px;">
        <center>
            <iframe allowtransparency="true" width="485" height="402" src="//scratch.mit.edu/projects/embed/12278865/?autostart=false" frameborder="0" allowfullscreen></iframe>
        </center>
        </div>
      </p>
    </div><!-- end of main_header -->
    </div><!-- end of main -->
  </div><!-- end of contentArea -->
  </div><!-- end of content -->
