      <div id="news">
        <h6 class="mgnt30"><%= image_tag("main_information.jpg", alt: "ブルーベリー・パイからのお知らせ", width: "714", height: "44") %></h6>
        <ul>
        <li><span class="green">2016.12.16</span>ブルーベリー・パイ　サイト開発開始</li>
        </ul>
      </div><!-- end div#news -->
